!!!
%html{"data-ng-app" => "myApp", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "angular"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "welcome"
    = csrf_meta_tags
  %body
    .container
      %h1 text
      %div(data-ng-view)
    = javascript_include_tag "application"